* {
	background-color: #53c399;
	color: black;
	font-family: Verdana;
}

div, div * {
	background-color: white;
}

.header {
	text-align: center;
}

div {
	max-width: 50%;
	margin: auto;
	padding: 10px;
	border-radius: 5px;
}

li {
	text-align: left;
}
