<!DOCTYPE html>
<html>
<head>
<title>neowiki{% block title %} | {{ article.title }}{% endblock %}</title>
<link href="style.css" rel="stylesheet">

<meta property='og:type' content='website'>
<meta property='og:image' content='{{ pubdir }}logo.png'>
<meta property='og:site_name' content='neowiki'>
<meta property='og:title' content='{% block ogptitle %}{{ article.title }} | neowiki{% endblock %}'>
<meta property='og:url' content='{{ pubdir }}{% block ogpurl %}{{ filename }}.html{% endblock %}'>
<meta property='og:description' content='{% block ogpdesc %}{{ article.description }}{% endblock %}'>

</head>
<body>
<div>
<span class="header">
<h1><img style="vertical-align:middle;width:50px;" src="logo.png">&nbsp;{% block pagetitle %}{{ article.title }}{% endblock %}</h1>
{% block header %}<p><a target="_blank" href="https://github.com/MineRobber9000/neowiki/edit/master/articles/{{ filename  }}.md">Edit this page</a></p>{% endblock %}
</span>
<hr>
{% block body %}{{ article.content | markdown }}
<hr>
<p><a href="./index.html">go back home</a></p>
<p><iframe src="https://duckduckgo.com/search.html?site=realneowiki.neocities.org&prefill=Search neowiki" style="overflow:hidden;margin:0;padding:0;width:408px;height:40px;" frameborder="0"></iframe></p>
{% endblock %}</div>
</body>
</html>
