<!DOCTYPE html>
<html>
<head>
<title>neowiki{% block title %} | {{ article.title }}{% endblock %}</title>
<link href="style.css" rel="stylesheet">

<meta property='og:type' content='website'>
<meta property='og:image' content='{{ pubdir }}logo.png'>
<meta property='og:site_name' content='neowiki'>
<meta property='og:title' content='{% block ogptitle %}{{ article.title }} | neowiki{% endblock %}'>
<meta property='og:url' content='{{ pubdir }}{% block ogpurl %}{{ filename }}.html{% endblock %}'>
<meta property='og:description' content='{% block ogpdesc %}{{ article.description }}{% endblock %}'>

</head>
<body>
<h1><img style="vertical-align:middle;width:50px;" src="logo.png">&nbsp;{% block body %}{{ article.title }}</h1>
<h2>a neowiki article by <a href="//{{ article.author }}.neocities.org">{{ article.author }}</a></h2>
<p><a target="_blank" href="https://github.com/MineRobber9000/neowiki/edit/master/articles/{{ filename  }}.md">Edit this page</a></p>
<hr>
{{ article.content | markdown }}
<hr>
<a href="./index.html">go back home</a>
{% endblock %}</body>
</html>
