{% extends "article.html" %}
{% block title %}{% endblock %}{# remove article title bit #}
{% block ogptitle %}contributors | neowiki{% endblock %}
{% block ogpurl %}contributors.html{% endblock %}{# remove article filename bit #}
{% block ogpdesc %}The contributors to neowiki.{% endblock %}
{% block pagetitle %}neowiki contributors{% endblock %}
{% block body %}</span><hr>
<p>neowiki wouldn't exist if it weren't for these users!</p>
<ul>{% for contributor in contributors %}
<li><a href="//{{ contributor }}.neocities.org">{{ contributor }}</a></li>
{% endfor %}</ul>
{% endblock %}
